{% extends 'layout.html' %}

{% block body %}
	<h1>Add Recepie</h1>
	{% from "includes/_formhelpers.html" import render_field %}
	<form method="POST" action="" enctype="multipart/form-data">
		<div class="form-group">
			{{render_field(form.title, class="form-control")}}
		</div>
		<div class="form-group">
			{{render_field(form.ingredients, class="form-control", id="ingredients")}}
		</div>
		<div class="form-group">
			{{render_field(form.directions, class="form-control", id="directions")}}
		</div>
		<div class="form-group">
			<p><b>Image</b></p>
			<input type=file name=file>
		</div>
		<button type="submit" value="submit" class="btn btn-primary">Submit</button>
	</form>
{% endblock %}
