{% extends 'layout.html' %}

{% block body %}
  <h1>{{recepie.title}}</h1>
  <small>Written by {{recepie.author}} on {{recepie.create_date}}</small>
  <hr>
  <div class="container">
    <h3>Ingredients</h3>
    <p>{{recepie.ingredients | safe}}</p>
    <h3>Directions</h3>
    <p>{{recepie.directions | safe}}</p>
    {% if recepie.picture_path != None %}
        <img src="{{ url_for('static', filename='images/' + recepie.picture_path) }}" height="42" width="42">
    {% endif %}
    {{recepie.picture_path}}
  </div>

{% endblock %}
